<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ==========================================================  -->
<!--    project                  -->
<!-- ==========================================================  -->
<mapper namespace="com.leo.boot.config.dal.mapper.ProjectDAO">
    <!-- ============================================= -->
    <!-- RESULT MAPS                                   -->
    <!-- ============================================= -->
    <!-- result maps for database table project -->
    <resultMap id="projectDO" type="com.leo.boot.config.dal.entity.ProjectDO">
        <id  property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result  property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result  property="userId" column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result  property="remark" column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="project_Columns">
        project.id,
        project.name,
        project.user_id,
        project.remark
    </sql>

    <sql id="Base_Column_List">
        id,
        name,
        user_id,
        remark
    </sql>

    <!-- ============================================= -->
    <!-- mapped statements for ProjectDAO -->
    <!-- ============================================= -->

    <!-- mapped statement for ProjectDAO.insert -->
    <!-- 插入数据 -->
    <insert id="insert">
        
        INSERT INTO project
        (
        <trim suffixOverrides=",">
            name ,
            user_id ,
            <!-- 备注 -->
            remark ,
        </trim>
        )VALUES(
        <trim suffixOverrides=",">
            #{project.name,jdbcType=VARCHAR},
            #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long},
            <!-- 备注 -->
            #{project.remark,jdbcType=VARCHAR},
        </trim>
        )
    </insert>


    <!-- mapped statement for ProjectDAO.insertSelective -->
    <!-- 插入不为空的数据 -->
    <insert id="insertSelective">
        
        INSERT INTO project
        (
        <trim suffixOverrides=",">
            name ,
            user_id ,
            <!-- 备注 -->
            <if test="project.remark!=null  and project.remark!='' " >
                remark ,
            </if>
        </trim>
        )VALUES(
        <trim suffixOverrides=",">
            #{project.name,jdbcType=VARCHAR},
            #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long},
            <!-- 备注 -->
            <if test="project.remark!=null  and project.remark!='' " >
                #{project.remark,jdbcType=VARCHAR},
            </if>
        </trim>
        )
    </insert>


    <!-- mapped statement for ProjectDAO.batchInsert -->
    <!-- 批量插入数据 -->
    <insert id="batchInsert">
        
        INSERT INTO project
        (
        <trim suffixOverrides=",">
            name ,
            user_id ,
            <!-- 备注 -->
            remark ,
        </trim>
        )VALUES
        <foreach collection="list" item="project"  separator="," > 
            (
            <trim suffixOverrides=",">
                #{project.name},
                #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long},
                <!-- 备注 -->
                #{project.remark},
            </trim>
            )
        </foreach>

    </insert>


    <!-- mapped statement for ProjectDAO.query -->
    <!-- 根据输入条件分页查询数据 -->
    <select id="query" resultMap="projectDO">
        
        SELECT 
            <include refid="project_Columns"/>
          FROM project project
        <where>
            <if test="project.id !=null " >
                AND id = #{project.id,jdbcType=BIGINT,javaType=java.lang.Long} 
            </if>
            <if test="project.name !=null  and project.name!='' " >
                AND name LIKE CONCAT('%', #{project.name,jdbcType=VARCHAR},'%') 
            </if>
            <if test="project.userId !=null " >
                AND user_id = #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long} 
            </if>
            <!-- 备注 -->
            <if test="project.remark !=null  and project.remark!='' " >
                AND remark = #{project.remark,jdbcType=VARCHAR} 
            </if>
        </where>
         ORDER BY id DESC 

    </select>
    
    <!-- mapped statement for ProjectDAO.update -->
    <!-- 根据主键修改数据 -->
    <update id="update">
        
        UPDATE project
        <set>
            <if test="project.name!=null  and project.name!='' " >
                name = #{project.name,jdbcType=VARCHAR},
            </if>
            <if test="project.userId!=null " >
                user_id = #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long},
            </if>
            <!-- 备注 -->
            remark = #{project.remark,jdbcType=VARCHAR},
        </set>
        <where>
           AND id = #{project.id,jdbcType=BIGINT,javaType=java.lang.Long}
        </where>

    </update>

    <!-- mapped statement for ProjectDAO.updateSelective -->
    <!-- 根据主键修改不为空的数据 -->
    <update id="updateSelective">
        
        UPDATE project
        <set>
            <if test="project.name!=null  and project.name!='' " >
                name = #{project.name,jdbcType=VARCHAR},
            </if>
            <if test="project.userId!=null " >
                user_id = #{project.userId,jdbcType=BIGINT,javaType=java.lang.Long},
            </if>
            <!-- 备注 -->
            <if test="project.remark!=null  and project.remark!='' " >
                remark = #{project.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
           AND id = #{project.id,jdbcType=BIGINT,javaType=java.lang.Long}
        </where>

    </update>

    <!-- mapped statement for ProjectDAO.delete -->
    <!-- 根据主键删除数据 -->
    <delete id="delete">
        
        DELETE  FROM project
        <where>
           AND id = #{project.id,jdbcType=BIGINT,javaType=java.lang.Long}
        </where>

    </delete>

    <!-- mapped statement for ProjectDAO.findById -->
    <!-- 根据指定字段的值查询数据 -->
    <select id="findById" resultMap="projectDO">
        
        SELECT 
            <include refid="project_Columns"/>
          FROM project project
        <where>
           AND id = #{id,jdbcType=BIGINT,javaType=java.lang.Long}
        </where>

    </select>
    
    <!-- mapped statement for ProjectDAO.deleteById -->
    <!-- 根据主键删除数据 -->
    <delete id="deleteById">
        
        DELETE  FROM project
        <where>
           AND id = #{id,jdbcType=BIGINT,javaType=java.lang.Long}
        </where>

    </delete>

    <!-- mapped statement for ProjectDAO.findByIdIn -->
    <!-- 根据指定字段的多个值查询数据 -->
    <select id="findByIdIn" resultMap="projectDO">
        
        SELECT 
            <include refid="project_Columns"/>
          FROM project project
        <where>
            id IN 
            <foreach collection="list" item="item"  open="(" separator="," close=")"> 
                #{item} 
            </foreach> 
        </where>
         ORDER BY id DESC 

    </select>
    
    <!-- mapped statement for ProjectDAO.deleteByIdIn -->
    <!-- 根据主键列表删除多条数据 -->
    <delete id="deleteByIdIn">
        
        DELETE  FROM project
        <where>
            id IN 
            <foreach collection="list" item="item"  open="(" separator="," close=")"> 
                #{item} 
            </foreach> 
        </where>

    </delete>

</mapper>