<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ==========================================================  -->
<!--    env_common                  -->
<!-- ==========================================================  -->
<mapper namespace="com.cqliving.config.dal.mapper.ex.EnvCommonExDAO">

    <select id="listWithUsed" resultType="com.cqliving.config.dal.dto.EnvCommonDTO">
        SELECT 
            a.id, 
            a.env_name, 
            a.content, 
            (b.env_id is NOT null and b.env_id != '') used 
        FROM env_common a
        LEFT JOIN env_common_ref b ON a.id = b.common_id AND env_id = #{envId}
    </select>
    
    <select id="listByEnvId" resultType="com.cqliving.config.dal.dto.EnvCommonDTO">
        SELECT b.id, b.env_name, b.content 
        FROM `env_common_ref` a 
        JOIN `env_common` b on a.common_id = b.id
        WHERE a.env_id = #{envId}
    </select>

</mapper>